* {
    color: blue;
}

.card-text {
    color: blue;
}

.card-title {
    text-align: center;
}

.card-body {
    color: blue;
}

.currentIndex {
    width: fit-content;
    padding: 5px;
    margin-bottom: 1em;
}


.navbar {
    color: red;
    font-size: 40px;
}

