.card-text {
    color: blue;
}

.card-title {
    text-align: center;
}

.card-text .current-index.great {
    color: green;
}

.card-text .current-index.moderate {
    color: yellow;
}

.card-text .current-index.severe {
    color: red;
}